/* .choropleth-us-education {
  z-index: 1;
  position: relative;
} */

.canvas {
  /* fill: whitesmoke; */
  background-color: white;
  z-index: 1;
  position: relative;
}

.county {
  stroke: white;
}

.choropleth-tooltip {
  background-color: black;
  height: 100px;
  width: 400px;
  z-index: 10;
  position: absolute;
}
