.heatmap-temperatures {
  position: relative;
  z-index: 1;
}

.canvas {
  background-color: beige;
  position: relative;
  z-index: 1;
}

.data-point {
  height: 46px;
  width: 4px;
}

.data-point:hover {
  stroke: black;
}

.tooltip {
  position: absolute;
  z-index: 10;
  background-color: black;
  border-radius: 5px;
  opacity: 0;
  height: auto;
  width: 80px;
  padding: 3px;
  pointer-events: none;
}

.tooltip-text {
  color: white;
  text-align: center;
  font-size: 0.7em;
}
