.simple-bar-chart {
  color: black;
}

.svg-element {
  /* position: relative; */
  margin-left: 0px;
  margin-right: 0px;
  background-color: blue;
  /* opacity: 0%; */
  padding: 20px;
}

.chart-bar {
  fill: black;
  width: 2px;
  opacity: 100%;
}

.chart-bar:hover {
  opacity: 0%;
}

.tooltip {
  position:relative;
  width: 6em;
  height: 3em;
  background-color: white;
  fill: white;
  font-size: 40px;
  opacity: 0%;
}

.tooltip-text {
  align-self: center;
  fill: black;
  font-size: 2em;
  opacity: 0%;
}