.about-sections {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.section__work {
  min-width: 50%;
  min-height: 4em;
}

.section__work__title {
  padding-bottom: 10px;
}

.section__education {
  min-width: 50%;
  min-height: 4em;
}

.section__programming {
  min-width: 50%;
  min-height: 4em;
}

.section__personal-interests {
  min-width: 50%;
  min-height: 4em;
}
