.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-button {
  justify-self: center;
  color: white;
  background-color: transparent;
  min-height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
