.main-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #282c34;
}

body {
  background-color: #282c34;
}

.onDisplay {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  font-size: calc(10px + 2vmin);
  color: white;
}

button:hover {
  cursor: pointer;
}
