.main-page {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
}

.apps {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 10%;
}

button:hover {
  cursor: pointer;
}
