.drum-machine {
  text-align: center;
  background-color: #363636;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.drum-card {
  border: 8px solid #6800ca;
  padding: 20px;
  width: 600px;
  min-height: 30vh;
}

.card-header {
  padding: 15px;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.drum-buttons {
  width: 50%;
  padding: 10px 5px 10px 5px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 5px;
}

.drum-pad {
  aspect-ratio: 1;
  border: 3px solid #c7027f;
  background-color: #363636;
  color: white;
  font-weight: bold;
}

.drum-pad:hover {
  background-color: rgba(255, 255, 255, 0.39);
}

.drum-pad:active {
  border-style: inset;
  background-color: rgba(255, 255, 255, 0.253);
}

.clicked {
  border-style: inset;
  background-color: rgba(255, 255, 255, 0.253);
}

.drum-settings {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.volume-setting {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 50px 20px;
}
.sound-name {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #4b4b4b;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
}
