.study-timer {
  background-color: teal;
  border-radius: 10px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.timer-box {
  width: 75%;
  border: solid;
}

.timer-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.timer-setting {
  border: solid;
  display: flex;
  flex-direction: column;
}

.setting-controls {
  border: solid;
  display: flex;
  flex-direction: row;
}
