.navigation-bar {
  font-family: FontAwesome;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  background-color: #282c34;
}

.menu-button {
  padding: 30px 0px 50px 0px;
  background-color: #282c34;
  border: none;
  color: white;
}
.nav-button {
  border: none;
  color: white;
  background-color: transparent;
  height: 4em;
  border-bottom: 1px solid white;
  font-size: 1em;
}

.opened-bar {
  display: flex;
  flex-direction: column;
}

.fa.fa-bars {
  text-decoration: none;
  font-style: none;
}
